@model HomeViewModel

<partial name="_Carousel" />

<h2>The preferreds </h2>

<div class="row">
    @foreach (var snack in Model.PreferredSnacks)
    {
        <partial name="_SnackDisplay" for="@snack" />
    }
</div>
